/* --- Badge --- */

.task-card-badge {

    border-radius: 12px;
    padding:5px 10px;
    background:var(--lightGray);

}

.task-card-badge-text {
    font-size: 12px;
    font-weight: 700;
    color: var(--gray);
    text-align: center;
    line-height: 14px;
}

.badge-todo {
    background-color: var(--lightGray);
    color: var(--gray);
}

.badge-in-progress {
    background-color: var(--lightGray);
    color: var(--blue);
}

.badge-pending {
    background-color: var(--lightGray);
    color: var(--orange);
}

.badge-completed {
    background-color: var(--lightGray);
    color: var(--green);
}
