.app-container {
  background-color: #f3f3fb;
  border-radius: 50px;
  padding: 40px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.app-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.task-app-container {
  padding: 0 40px;
  flex: 1;
  overflow: auto;

}
.task-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: minmax(min-content, max-content);
  justify-items: flex-start;
  justify-content: space-between;
  gap: 40px 50px;
}

.control-panel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.app-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: var(--blackt);
}

.app-subtitle {
  margin-top: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: var(--grayt);
}

.create-task-button {
  background: var(--blue);
  border-radius: 12px;
  padding: 15px 74px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: var(--white);
  border: none;
  cursor: pointer;
}

