/* --- Main App --- */
body {
  width: 100%;
 min-height: 100vh;
  background-color: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

}

/* --- Media Query --- */

@media screen and (min-width: 1024px) {

  body {
    min-width: fit-content;

  }

}