/* --- Reset --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: block;
}

:root {
    --white: #FFFFFF;
    --lighBlue: #f3f3fb;
    --lightGray: #F2F2F2;
    --gray: #808080;
    --lightishGray: #B9B9B9;
    --grayLight: #999999;
    --black: #16171D;
    --darkBlack: #2C2E3A;
    --lightishGray: #A8ABBD;
    --blue:#3754DB;



}
